body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: white;
    background-color: #000000;
}
#hero{
    width: 100%;
    height: 850px;
    background-color: black;
}
#bgi{
    position: absolute;
    width:100%;
    height: 1000px;
    left: 350px;
    top: 0px;
}
#bgi video{
    height: auto;
    width: 100%;
}
#navigation{
    position: fixed;
    z-index: 5;
    width: 85%;
    height: auto;
    left: 100px;
}
#navigation ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    top: 0px;
}
#logo{
    width: 5.5rem;
    height: 2.4rem;
    display: inline;
    position: relative;
    z-index: 3;
    top:25px;
    transition: 0.5s;
    padding-bottom: 10px;
    
}
.hover::after{
    content: '';
    width: 0px;
    height: 0px;
    background-color:#848484;
    border-radius: 360px;
    position:absolute;
    top: 12px;
    left: 9px;
    transition: 0.5s;
}
.hover:hover:after{
    width: 25px;
    height: 25px;
}
.hover{
    text-decoration: none;
    position: relative;
    bottom: 40px;
}
.hover::before{
    content: '';
    width: 0px;
    height: 0px;
    background-color:gold;
    position:absolute;
    top: 24px;
    left: 24px;
    transition: 0.5s;
    z-index: 1;
}
.hover:hover:before{
    width: 5px;
    height: 1.5px;
}
#logo:hover{
    width: 110px;
}
#menu{
    width: 45px;
    height: 12px;
    position: relative;
    bottom: 10px;
    right: 10px;
    border-top:2px solid rgba(255, 217, 0, 0.901) ;
    border-bottom:2px solid gold ;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 45rem;
    height: auto;
    left: 145px;
    top: 200px;
}
#header{
    font-weight:100;
    font-size: 52px;
    line-height: 65px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 0;
}
#dmycnt{
    width: 70%;
    height: 56px;
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.558);
    margin: 0;
}
#aboutbtn{
    width: 151px;
    height: 61.61px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 27px;
    line-height: 50px;
}
#aboutbtn::after{
    content: '';
    width: 70px;
    height: 1px;
    background-color: aliceblue;
    position:absolute;
    top: 330px;
    left: 0;
    transition: 0.5s;
}
#aboutbtn:hover:after{
    width: 110px;
}
#line{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 44%;
    width: 100%;
    height: 68px;
    font-size: 15px;
    font-weight: 100;
}
#about{
    position: relative;
    width: 100%;
    height: 2050px;
    background-color: rgb(0, 0, 0);
}
#rectangle{
    position: absolute;
    width: 1861.69px;
    height: 432.32px;
    left: -150px;
    top: 150px;
    background: #000000;
    transform: rotate(-33.2deg);
    z-index: 2;
}
#abtcnt{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 60%;
    height: 505.77px;
    left: 145px;
    top: 100px;
}
#abth1{
    position: relative;
    margin: 0px;
    color: white;
    line-height: 70px;
    width: 900px;
    height: 201px;
    font-weight:100;
    font-size: 75px;
    line-height: 75px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 0px;
}
#abtdmycnt{
    color: #848484;
    align-self: stretch;
    font-size: 15px;
    margin: 0;
}
#abtdmycnt2{
    color: #848484;
    align-self: stretch;
    font-size: 15px;
}
#allworks{
    text-decoration: none;
    position: relative;
    top: 0px;
    font-weight: 300;
    width: 151px;
    height: 58.77px;
    font-size: 27px;
    line-height: 90px;
    text-transform: capitalize;
    color: white;
    margin-left: 10px;
}
#allworks::after{
    content: '';
    width: 60px;
    height: 1px;
    background-color: aliceblue;
    position:absolute;
    top: 60px;
    left: 0;
    transition: 0.5s;
}
#allworks:hover:after{
    width: 110px;
}
#imgs{
    position: absolute;
    right:100px;
    top: 200px;
    background-image: url("./imgs/image\ 5.png");
    background-size: 1680px;
    width: 40%;
    height: 870px;
    background-repeat: no-repeat;
    background-position: -630px -100px;
    transition: 0.5s;
}
#imgs:hover{
    background-size: 600px;
    background-position: 0px 500px;
}
#imgs1{
    width: 40%;
    display: flex;
    color: white;
    position: absolute;
    top:1070px;
    right: 100px;
    font-size: 15px;
}
#imgs1p{
    position: relative;
    top: 12px;
    left: 15px;
    font-size: 12px;
    color: rgb(161, 161, 161);
}
#img2{
    position: absolute;
    top: 655px;
    left: 148px;
    background-image: url("./imgs/image\ 3.png");
    background-size: 1640px;
    width: 40%;
    height: 840px;
    background-repeat: no-repeat;
    background-position:-960px -150px;
    transition: 0.5s;
}
#img2:hover{
    background-size: 600px;
    background-position: 0px 500px;
}
#imgs2{
    width: 40%;
    color: white;
    display: flex;
    position: relative;
    top: 1490px;
    left: 150px;
    font-size: 15px;
}
#imgs2p{
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 12px;
    color: rgb(161, 161, 161);
}
#img3{
    background-image: url("./imgs/image\ 4.png");
    position: absolute;
    right: 100px;
    top: 1300px;
    background-size: 950px;
    width: 40%;
    height: 750px;
    background-repeat: no-repeat;
    background-position:-150px -30px;
    transition: 0.5s;
}
#img3:hover{
    background-size: 600px;
    background-position: -70px 0px;
}
#imgs3{
    display: flex;
    color: white;
    position: absolute;
    top:1230px;
    width: 40%;
    right: 100px;
    font-size: 15px;
}
#imgs3p{
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 12px;
    color: rgb(161, 161, 161);
}
#imgs4{
    width: 40%;
    color: white;
    display: flex;
    position: absolute;
    top: 1690px;
    left: 150px;
    font-size: 15px;
}
#imgs4p{
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 12px;
    color: rgb(161, 161, 161);
}
#img4{
    background-image: url("./imgs/1280x670_Beoplay_EX\ 1.png");
    position: absolute;
    left: 148px;
    top: 1750px;
    background-size: 1320px;
    width: 40%;
    height: 300px;
    background-repeat: no-repeat;
    background-position:-355px 0px;
    transition: 0.5s;
}
#img4:hover{
    background-size: 555px;
    background-position: 0px 0px;
}
#service{
    width: 100%;
    height: 900px;
    background-color: rgb(244, 244, 244);
    color: #000000;
}
#srvcnt{
    text-align: center;
    position: relative;
    left: 25%;
    top: 100px;
    margin: 0;
    width: 770px;
    height: 309px;
    font-weight: 100;
    font-size: 75px;
    line-height: 102.8%;
    text-align: center;
    letter-spacing: -0.045em;
    text-transform: capitalize;
}
#srvp{
    position: relative;
    left: 35%;
    top: 50px;
    width: 490px;
    height: 84px;
    font-weight: 300;
    font-size: 15px;
    line-height: 139.52%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #848484;
}
p{
    font-weight: bolder;
}
#buttons{
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 25px;
    line-height: 0px;
    font-weight: bold;
    position: relative;
    top: 120px;
    left: 10px;
}
hr{
    width: 250px;
}
sup{
    font-size: 15px;
}
#allsvc{
    text-align: center;
    font-size: 28px;
    position: relative;
    top: 160px;
    font-weight: bolder;
}
#allsvc::after{
    content: '';
    width: 110px;
    height: 2px;
    background-color: rgb(18, 18, 18);
    position:absolute;
    top: 30px;
    left: 570px;
    transition: 0.7s;
}
#allsvc:hover:after{
    width: 240px;
}
#chs{
    width: 230%;
    height: 300px;
    background-color: black;
    color: rgb(74, 74, 74);
    display: flex;
    font-size: 25px;
    position: relative;
    right: 400px;
    font-weight: 100;
}
#chs div h1{
    position: relative;
    top: 80px;
    line-height: 25px;
}
#testimonials{
    width: 100%;
    height: 800px;
    background-color: black;
    color: white;
}
#testimonials h1{
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: 100;
}
#nums{
    color: rgb(182, 182, 182);
    position: relative;
    top: 50px;
    left: 70px;
    font-size: 15px;
}
#left, #right{
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 360px;
    background-color: white;
}
#arrow{
    display: flex;
    width:110px;
    justify-content: space-between;
    position: relative;
    left: 110px;
    bottom: 0px;
}
#arrow img{
    width: 50px;
    position: relative;
    right: 5px;
    bottom: 5px;
}
#container{
    position: relative;
    left: 25%;
    top: 80px;
    width: 800px;
    height: 100px;
}
#container h3{
    width: 62%;
    font-size: 15px;
    position: relative;
    left: 300px;
    bottom: 150px;
    font-weight: 100;
}
#pm{
    line-height: 0px;
    margin: 0;
    font-size: 14px;
    color: #848484;
    position: relative;
    top: -5px;
    right: 15px;
    font-weight: 100;
}
#container h2{
    margin: 0px;
    font-size: 25px;
    position: relative;
    top: -10px;
    right: 15px;
    font-weight: 100;
}
#clients{
    position: relative;
    top: 260px;
    left: 21%;
    width: 58%;
}
#blog{
    width: 100%;
    height: 770px;
    background-color: black;
    color: rgb(255, 255, 255);
}
#blog h1{
    position: relative;
    left: 20%;
    margin: 0;
    color: white;
    font-size: 70px;
    width: 60%;
    line-height: 75px;
    font-weight: 100;
}
#blog-icons{
    width: 70%;
    position: relative;
    left: 18%;
    top: 110px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#blog-icons img{
    width: 280px;
    height: 160px;
}
#blog-icons div{
    width: 300px;
}
#blog-icons p{
    font-size: 15px;
    color: rgb(181, 180, 180);
    line-height: 20px;
}
#blog-icons h2{
    color: rgb(186, 186, 186);
    font-size: 25px;
    font-weight: 100;
}
#blog-icons h5{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.798);
    font-weight: 100;
}
#m{
    position: relative;
    bottom: 7px;
}
#footer{
    width: 100%;
    height: 700px;
    background-color: black;
}
#ftrcnt{
    color: rgba(255, 255, 255, 0.612);
    font-size: 25px;
    text-align: center;
    position: relative;
    font-weight: 100;
}
#ftrh1{
    width: 100%;
    height: 300px;
    font-size: 250px;
    color: black;
    text-align: center;
    position: relative;
    left: 40px;
    bottom: 130px;
    margin-bottom: 0px;
    font-weight: bolder;
    transition: 0.5s;
}
#ftrh1:hover{
    text-shadow: 0px 0px 20px rgb(231, 224, 211);
}
#lower-footer{
    color: white;
    display: flex;
    justify-content: space-around;
    width: 90%;
    position: relative;
    left: 7%;
}
.lfh1{
    font-size: 30px;
    position: relative;
    left: -80px;
    bottom: 25px;
    font-weight: 100;
}
#lower-footer h5{
    line-height: 18px;
    font-size:15px;
    margin: 0;
    font-weight: 100;
}
#lower-footer h3{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 100;
}
#business-inquiries{
    position: relative;
    right: 60px;
    bottom: 25px;
}
#location{
    position: relative;
    right: 90px;
    bottom: 30px;
}
#socials{
    position: relative;
    right: 90px;
    bottom: 30px;
}
.fb{
    position: relative;
    bottom: 35px;
    left: 100px;
}
@media screen and (min-width:1920px) {
    #rectangle{
            position: absolute;
            width: 2061.69px;
            height: 332.32px;
            left: -170px;
            top: 300px;
            background: #000000;
            transform: rotate(-25deg);
    }
    #navigation{
        width:1750px;
    }
}